

form {
    margin: 20px;
}

.customCard{
    margin: 45px 20px;
}

#icons{
    margin-top: 15px;
    padding-top: 10px;
    cursor: pointer;
    display: flex;
}

.iconsBin{
    padding-left: 25px;
}

ul {
    list-style-type: none;
}